* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 1em;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-track {
    border-radius: 0px 10px 10px 0px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(75, 165, 206);
    border-radius: 10px;
}

body::-webkit-scrollbar {
    width: 1em;
    border-radius: 0;
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    border-radius: 0;
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* ----- Navbar Section ----- */
.navbar {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
    background-color: rgb(14, 14, 14);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

.navbar-container {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    width: 100%;
    padding: 0 50px;
}

#navbar-logo {
    display: block;
    cursor: pointer;
    background-image: -webkit-linear-gradient(to top, rgb(75, 165, 206), rgb(52, 124, 158));
    background-image: linear-gradient(to top, rgb(75, 165, 206), rgb(52, 124, 158));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: auto 0px;
    font-size: 1.8rem;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 125px;
}

.navbar-links {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.navbar-links:hover {
    color:rgb(75, 165, 206);
    transition: all 0.3s ease;
}

/* ----- Hero Section ----- */
#hero {
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;  
}

#intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

#about-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min(90%, 640px);
    width: min(90%, 760px);
    border-radius: 20px;
}

#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

#about-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-arrow {
    font-size: 32px;
    cursor: pointer;
    margin: auto;
    color: #23b1ca;
}

.header {
    font-size: 3vh;
    width: 100%;
}

.text {
    font-size: 2.5vh;
}

.about-image {
    width: 95%;
    height: 75%;
    max-height: 340px;
    margin-top: 10px;
}

#about-container #circle-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 75%;
    max-width: 640px;
    margin-top: 10px;
}

#circle-container i {
    margin-right: 6px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

#circle-container .active {
    color: #23b1ca;
}

#region-button {
    background-color: rgb(75, 165, 206);
    width: min(95%, 360px);
    height: 70px;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 20px;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    outline: none;
    border: none;
    text-align: center;
}

#region-button:hover {
    background-color: rgb(79, 174, 218);
}

#region-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    height: calc(100vh - 80px);
}

.region-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    margin: 0px 0px 10px 0px;
    width: min(min(80%, calc(12vh * 6)), 720px);
    height: min(11%, 108px);
}

#alola {
    margin: 0px;
}

.region-image {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    width: calc(100% / 6);
    max-width: 96px;
    opacity: 0;
}

.region-name {
    position: absolute;
    font-size: 6.5vh;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-shadow: 
        0 0 2px rgba(255,255,255,0.8), 
        2px 2px 2px rgba(0,0,0,0.2);
    text-align: center;
}

.region-container:hover .region-name {
    opacity: 0;
}

.region-container:hover .region-image {
    opacity: 1;
}

#kanto {
    background-color: rgb(255, 214, 139);
}

#kanto:hover {
    box-shadow: 0px 0px 1px 2px rgb(241, 206, 140);
}
  
#johto {
    background-color: rgb(143, 178, 253);
}

#johto:hover {
    box-shadow: 0px 0px 1px 2px rgb(126, 166, 252);
}

#hoenn {
    background-color: rgb(128, 255, 155);
}

#hoenn:hover {
    box-shadow: 0px 0px 1px 2px rgb(110, 250, 140);
}

#sinnoh {
    background-color: rgb(154, 244, 250);
}

#sinnoh:hover {
    box-shadow: 0px 0px 1px 2px rgb(143, 246, 253);
}

#unova {
    background-color: rgb(203, 185, 253);
}

#unova:hover {
    box-shadow: 0px 0px 1px 2px rgb(193, 172, 252);
}

#kalos {
    background-color: rgb(144, 255, 209);
}

#kalos:hover {
    box-shadow: 0px 0px 1px 2px  rgb(127, 253, 201);
}

#alola {
    background-color: rgb(255, 187, 155);
}

#alola:hover {
    box-shadow: 0px 0px 1px 2px rgb(255, 174, 137);
}

#pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

#pokedex-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: min(180px, 75%);
    background-color: rgb(43, 43, 43);
    color: white;
    border-radius: 20px;
    padding: 20px 10px 20px 10px;
    margin: 20px 0px 0px 0px;
    cursor: pointer;
}

#top-page:hover {
    background-color: rgb(61, 61, 61);
}

#loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    width: 100%;
    font-size: 16px;
}

.loader {
    width: 144px;
    height: 144px;
    animation: load 2s linear infinite;
}

#load-percentage {
    margin-bottom: 20px;
}

.footer-link {
    text-decoration: none;
    font-size: 18px;
    color: rgb(37, 88, 165);
}

#github-footer {
    margin-top: 20px;
}

#pokeapi-footer {
    margin-bottom: 30px;
}


@keyframes load {
    50% {
        transform: scale(0.7); 
    }
}

#search-container {
    display: flex;
    align-items: center;
    height: 60px;
    width: min(420px, 75%);
    padding: 12px 20px 12px 40px; 
    border-radius: 20px;
    border: 1px solid black;
    margin: 20px 0px 20px 0px;
}

#search-icon {
    width: 40px;
    margin: auto;
}

#pokemon-search {
    font-size: 16px; 
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
} 

#pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.pokemon-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 240px;
    border-radius: 20px;
    position: relative;
    font-size: 21px;
    margin: 8px;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
    box-shadow: 4px 3px 8px rgb(0, 0, 0, 27%);
    transition: all 300ms ease;
}

/* ----- Pokedex Section ----- */
.pokemon-image {
    width: 96px;
    -webkit-user-drag: none;
}

.type-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-type, .move-type {
    width: 36px;
    border-radius: 100%;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 27%);
    margin: 2px 3px 0px 3px;
}

.pokemon-button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
    opacity: 0;
}

.pokemon-container:hover .pokemon-button-container {
    opacity: 1;
}

#pokemon-list .pokemon-container:hover {
    transform: translateY(-5px);
    transition: all 300ms ease;
}

.pokemon-container button {
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    height: 36px;
    width: 36px;
}

.insert-button, .clear-button {
    font-size: 24px;
}

/* ----- Inspect Section ----- */
#inspect-view {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: calc(100% - 80px);
    width: 100%;
    z-index: 1;
}

#hide-inspect-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

#hide-inspect {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    font-size: 1.2rem;
    background-color: #1d1d1d;
    color: rgb(63, 183, 219);
    border-radius: 0px 0px 0px 20px;
    cursor: pointer;
}

#hide-inspect:hover {
    color: white;
    background-color: #ff5353;
}

#inspect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px #272727;
    background-color: #ffffff;
    overflow-y: auto;
}

#stats-moves-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 90%;
}

#intro-container, #stats-container, #moves-container, #chain-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10px;
}

#stats-container, #moves-container {
    height: calc(30vh + 48px);
    flex-direction: column;
}

#description-container {
    display: flex;
    justify-content: center;
    height: 95%;
    width: 75%;
    font-size: 1.2rem;
    padding: 10px;
    overflow-y: auto;
    background-color: #ddd;
    border-radius: 10px;
}

/* ----- Pokemon Stats Section ----- */
#stat-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6; 
    border-radius: 10px;
    border: 1px solid black;
}

#stat-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0px 0px 0px 10px;
}

.stat-header, .stat-bar {
    height: calc(25vh / 6);
    line-height: calc(25vh / 6);
    font-size: 20px;
    margin: 4px 0px 4px 0px;
}

#stat-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.stat-bar {
    min-width: 35px;
    max-width: 100%;
    border-radius: 20px;
    text-indent: 8px;
    text-align: right;
    direction: rtl;
    border: 1px solid black;
}

#health {
    background-color: #FF5959;
}

#attack {
    background-color: #F5AC78;
}

#defense {
    background-color: #FAE078;
}

#special-attack {
    background-color: #9DB7F5;
}

#special-defense {
    background-color: #A7DB8D;
}

#speed {
    background-color: #FA92B2;
}

/* ----- Pokemon Moves Section ----- */
#move-list {
    display: flex;
    flex-direction: column;
    height: calc(30vh + 48px);
    width: 100%;
    background-color: white;
    border: 1px solid rgb(0,0,0);
    border-radius: 10px;
    overflow-y: auto;
}

#move-list li {
    display: block; 
    text-decoration: none;
    font-size: 18px; 
    width: 100%;
    color: black; 
    background-color: #f6f6f6; 
    border: 1px solid #ddd; 
    margin-top: -1px; 
    padding: 12px; 
    text-transform: capitalize;
}

/* ----- Evolution Chain Section ----- */
#evolution-chain {
    display: flex;
    overflow-x: auto;
    text-transform: capitalize;
}

#evolution-chain li {
    height: 180px;
    width: 200px;
    box-shadow: none;
}

#evolution-chain li .pokemon-number {
    display: none;
}

.evolution-trigger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

#teambuilder-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: min(1330px, 100%);
    height: 400px;
    top: 25%;
    overflow-y: auto;
    background-color: #222222;
}

#show-team {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    height: 60px;
    width: 60px;
    border-radius: 20px 0px 0px 20px;
    bottom: 15%;
    right: 0;
    background-color: rgb(39, 39, 39);
    color: white;
}

#teambuilder-view::-webkit-scrollbar {
    display: none;
}

#team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.team-slot {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 240px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;
    border-radius: 22px;
    margin: 8px;
}

#pokemon0 li {
    box-shadow: none;
    cursor: auto;
}

#pokemon0 button {
    display: none;
}

.team-slot li {
    margin: 0px;
    box-shadow: none;
}

#build-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40%;
}

.build-checkbox {
    color: white;
}

#build-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.build-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    margin: 0px 16px 0px 16px;
    border-radius: 20px;
}

#clear-team-button {
    background-color: #f77f7f;
}

#submit-button {
    background-color: #A7DB8D;
}

#help-text {
    display: none;
    align-items: flex-start;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.slider {
    -webkit-appearance: none;  
    appearance: none;
    outline: none;
    height: 14px;
    background-color: white;
    border-radius: 20px;
    margin-top: 8px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 14px; 
    height: 14px; 
    background: rgb(39, 39, 39); 
    cursor: pointer; 
    border-radius: 20px;
}
  
.slider::-moz-range-thumb {
    width: 14px; 
    height: 14px; 
    background: rgb(39, 39, 39); 
    cursor: pointer; 
}

/* ----- Music Section ----- */
#music-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    align-items: center;
    color: white;
    background-color: rgb(39, 39, 39);
    border-radius: 20px;
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    bottom: 1%;
    right: 1%;
}

#hide-music {
    display: none;
    justify-content: center;
    align-items: center;
    color: rgb(224, 85, 85);
    background-color: white;
    width: 24px;
    height: 20px;
    border-radius: 24px;
    cursor: pointer;
    margin: auto auto auto 8px;
}

#music-container:hover #hide-music, #music-container:focus #hide-music {
    display: flex;
}

#show-music {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    height: 60px;
    width: 60px;
    border-radius: 20px 0px 0px 20px;
    bottom: 5%;
    right: 0;
    background-color: rgb(39, 39, 39);
    color: white;
}

#music-slider {
    display: none;
}

#music-container:hover #music-slider, #music-container:focus #music-slider, #music-slider:hover, #music-slider:focus {
    display: block;
}

#title-button-container {
    display: flex;
    width: 100%;
}

#song-title-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 6px;
    background-color: #3786c7;
    box-shadow: 0 0 10px #295e8a inset;
    border-radius: 12px;
}

#song-title-container:hover span {
    display: inline-block;
    animation: song-title 10s linear infinite;
}
  
@keyframes song-title {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

#music-controls {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.music-button {
    font-size: 28px;
    height: 28px;
    line-height: 28px;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    color: rgb(204, 204, 204);
}

.music-button:active {
    color: rgb(163, 163, 163);
}

.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    width: 100%;
}

#contact-form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 60%;
}

#contact-image {
    width: 25%;
    margin: auto;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70%;
    border-radius: 16px;
    background-color: rgb(135, 189, 221);
}

#contact-form input, #contact-form textarea {
    outline: none;
    border: none;
    border-radius: 10px;
    text-indent: 6px;
    width: 50%;
}

.contact-input {
    height: 5vh;
    margin: 4px 0px 4px 0px;
}

#message {
    resize: vertical;
    height: 10vh;
    line-height: 3vh;
    margin-top: 5px;
}

@media screen and (max-width: 1320px) {
    .team-slot {
        width: 182px;
        height: 220px;
    }

    .team-slot .pokemon-container {
        font-size: 1.2rem;
        width: 180px;
        height: 220px;
    }

    .pokemon-container .pokemon-button-container button {
        width: 24px;
        height: 24px;
        line-height: 20px;
    }
}

@media screen and (max-width: 1024px) {
    #search-container {
        bottom: 15%;
    }

    .pokemon-container {
        font-size: 1.2rem;
        width: 160px;
        height: 200px;
    }

    .pokemon-container .pokemon-image {
        width: 72px;
    }

    .pokemon-button-container button {
        width: 24px;
        height: 24px;
        line-height: 24px;
    }

    .pokemon-button-container .clear-button {
        font-size: 24px;
    }

    #inspect-container {
        flex-direction: column;
        height: 90%;
    }

    #stats-moves-container {
        flex-direction: column;
        width: 100%;
    }

    #intro-container {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    #description-container {
        width: 100%;
    }

    #stats-container {
        width: 100%;
    }

    #moves-container {
        width: 100%;
    }

    #chain-container {
        width: 100%;
    }

    #teambuilder-view {
        height: calc(100% - 80px);
        top: 80px;
        overflow-y: auto;
        background-color: #222222;
        z-index: 1;
        padding-bottom: 20px;
    }

    .team-slot {
        width: 152px;
        height: 190px;
    }

    .team-slot .pokemon-container {
        font-size: 1.2rem;
        width: 150px;
        height: 190px;
    }

    #build-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    
    #form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px 0px 20px 0px;
    }
    
    .build-checkbox {
        color: white;
    }
    
    #build-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70%;
    }
    
    .build-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 128px;
        height: 40px;
        background-color: white;
        cursor: pointer;
        margin: 0px 16px 0px 16px;
        border-radius: 20px;
    }
    
    #help-text {
        display: none;
        align-items: flex-start;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-size: 24px;
    }

    #show-music, #show-team {
        height: 40px;
        width: 40px;
    }

    #show-team {
        bottom: 13%;
    }

    #music-container {
        right: initial;
    }
}

/* ----- Navbar Mobile ----- */
@media screen and (max-width: 960px) {
    .navbar-container {
        height: 80px;
        padding: 0;
    }

    .navbar-menu {
        position: absolute;
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        top: -1000px;
        opacity: 1;
        z-index: -1;
        transition: all 0.5s ease;
    }

    .navbar-menu.active {
        background: #ffffff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar-logo {
        font-size: 1.2rem;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(255, 255, 255);
    }

    .navbar-item {
        width: 100%;
    }
      
    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        color: black;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
      }
      
    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }
      
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
      }
      
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
      
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}