* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 1em;
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(75, 165, 206);
}

body {
    overflow-x: hidden;
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* ----- Navbar Section ----- */
.navbar {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
    background-color: rgb(14, 14, 14);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

.navbar-container {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    width: 100%;
    padding: 0 50px;
}

#navbar-logo {
    display: block;
    cursor: pointer;
    background-image: -webkit-linear-gradient(to top, rgb(75, 165, 206), rgb(52, 124, 158));
    background-image: linear-gradient(to top, rgb(75, 165, 206), rgb(52, 124, 158));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: auto 0px;
    font-size: 1.8rem;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 125px;
}

.navbar-links {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.navbar-links:hover {
    color:rgb(75, 165, 206);
    transition: all 0.3s ease;
}

/* ----- Hero Section ----- */
#hero {
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;  
}

#intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

#about-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min(90%, 640px);
    width: min(90%, 760px);
    border-radius: 20px;
}

#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

#about-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-arrow {
    font-size: 32px;
    cursor: pointer;
    margin: auto;
    color: #23b1ca;
}

.header {
    font-size: 3vh;
    width: 100%;
}

.text {
    font-size: 2.5vh;
}

.about-image {
    width: 95%;
    height: 75%;
    max-height: 340px;
    margin-top: 10px;
}

#about-container #circle-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 75%;
    max-width: 640px;
    margin-top: 10px;
}

#circle-container i {
    margin-right: 6px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

#circle-container .active {
    color: #23b1ca;
}

#region-button {
    background-color: rgb(75, 165, 206);
    width: min(95%, 360px);
    height: 70px;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 20px;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    outline: none;
    border: none;
    text-align: center;
}

#region-button:hover {
    background-color: rgb(79, 174, 218);
}

#region-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    height: calc(100vh - 80px);
}

.region-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    margin: 0px 0px 10px 0px;
    width: min(min(80%, calc(12vh * 6)), 720px);
    height: min(11%, 108px);
}

#alola {
    margin: 0px;
}

.region-image {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    width: calc(100% / 6);
    max-width: 96px;
    opacity: 0;
}

.region-name {
    position: absolute;
    font-size: 6.5vh;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-shadow: 
        0 0 2px rgba(255,255,255,0.8), 
        2px 2px 2px rgba(0,0,0,0.2);
    text-align: center;
}

.region-container:hover .region-name {
    opacity: 0;
}

.region-container:hover .region-image {
    opacity: 1;
}

#kanto {
    background-color: rgb(255, 214, 139);
}

#kanto:hover {
    box-shadow: 0px 0px 1px 2px rgb(241, 206, 140);
}
  
#johto {
    background-color: rgb(143, 178, 253);
}

#johto:hover {
    box-shadow: 0px 0px 1px 2px rgb(126, 166, 252);
}

#hoenn {
    background-color: rgb(128, 255, 155);
}

#hoenn:hover {
    box-shadow: 0px 0px 1px 2px rgb(110, 250, 140);
}

#sinnoh {
    background-color: rgb(154, 244, 250);
}

#sinnoh:hover {
    box-shadow: 0px 0px 1px 2px rgb(143, 246, 253);
}

#unova {
    background-color: rgb(203, 185, 253);
}

#unova:hover {
    box-shadow: 0px 0px 1px 2px rgb(193, 172, 252);
}

#kalos {
    background-color: rgb(144, 255, 209);
}

#kalos:hover {
    box-shadow: 0px 0px 1px 2px  rgb(127, 253, 201);
}

#alola {
    background-color: rgb(255, 187, 155);
}

#alola:hover {
    box-shadow: 0px 0px 1px 2px rgb(255, 174, 137);
}


































#pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 80px);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

#pokedex-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    width: 100%;
    font-size: 16px;
}

.loader {
    width: 144px;
    height: 144px;
    animation: load 2s linear infinite;
}

#load-percentage {
    margin-bottom: 20px;
}

.loader-link {
    text-decoration: none;
    font-size: 18px;
    color: rgb(75, 165, 206);
}


@keyframes load {
    50% {
        transform: scale(0.7); 
    }
}

#search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 240px;
}

#pokemon-search {
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid rgb(0, 0, 0); 
    border-radius: 20px;
    outline: none;
} 

#pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    overflow: auto;
}

.pokemon-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 240px;
    border-radius: 20px;
    position: relative;
    font-size: 21px;
    margin: 8px;
    list-style: none;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
    box-shadow: 4px 3px 8px rgb(0, 0, 0, 27%);
}

/* ----- Pokedex Section ----- */
.pokemon-image {
    width: 96px;
    -webkit-user-drag: none;
}

.type-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-type {
    width: 36px;
    border-radius: 100%;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 27%);
    margin: 0px 2px 0px 2px;
}

.pokemon-container-placed .type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4px 0px 0px 0px;
}

.pokemon-button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
    opacity: 0;
}

.pokemon-container:hover .pokemon-button-container {
    opacity: 1;
}

.pokemon-container button {
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    height: 36px;
    width: 36px;
}

.insert-button, .clear-button {
    font-size: 24px;
}


/* ----- Utility Section ----- */
#utility-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 275px;
    height: 400px;
}

/* ----- Extra Buttons Section ----- */
#utility-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
}

.extra-button {
    width: 75px;
    border-radius: 75px;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    color: white;
    cursor: pointer;
}

#inspect-button {
    background: linear-gradient(#0bd1d8, #0cafb4);
    box-shadow: -1px 1px 0px 1px #115869;
}

#inspect-button:active {
    background: linear-gradient(#0cb4b9, #0bd1d8);
    box-shadow: 0px 0px 5px 3px #14abb1 inset;
}
  
#teambuilder-button {
    background: linear-gradient(#0cb452, #10e96a);
    box-shadow: -1px 1px 0px 1px #105a2f;
}

#teambuilder-button:active {
    background: linear-gradient(#0ed862, #0cb452);
    box-shadow: 0px 0px 5px 3px #22b45f inset;
}

#compare-button {
    background: linear-gradient(#b951d8, #c251e4);
    box-shadow: -1px 1px 0px 1px #512b5e;
}

#compare-button:active {
    background: linear-gradient(#c959eb, #b951d8);
    box-shadow: 0px 0px 5px 3px #a84dc4 inset;
}
  
#new-region {
    background-color: rgb(126, 139, 255);
}



/* ----- Inspect Section ----- */
#inspect-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 225px;
    width: 100%;
}

#inspect-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 130;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    box-shadow: 0 0 10px #7c7c7c inset, 0px 0px 5px 1px #6d0000 ;
    color: #000000;
    font-size: 1.2em;
    background-color: #ffffff;
}

#inspect-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 25px;
    width: 90%;
}

.inspect-button {
    height: 100%;
    width: 50px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    border: 1px solid black;
    z-index: 999;
    color: white;
    background-color: #9facb4;
    margin: 0px -1px 0px -1px;
    cursor: pointer;
}

#intro {
    border-radius: 10px 0px 0px 0px;
    background-color: #6b77e4;
}

#chain {
    border-radius: 0px 10px 0px 0px;
}

#intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
}

#description-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
}

#description {
    margin: auto;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

#description-container::-webkit-scrollbar {
    width: 12px;
    background-color: white;
    border-radius: 10px;
}

#description-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#description-container::-webkit-scrollbar-thumb {
    background-color: rgb(139, 236, 207);
    border-radius: 10px;
}

/* ----- Pokemon Stats Section ----- */
#stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
}

#stat-list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}

#stat-name-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 30%;
}

.stat-header {
    height: 24px;
    line-height: 24px;
}

#stat-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 70%;
}

.stat-bar {
    max-width: 100%;
    min-width: 40px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    border-radius: 20px;
    text-indent: 8px;
    text-align: right;
    direction: rtl;
}

#health {
    background-color: #FF5959;
}

#attack {
    background-color: #F5AC78;
}

#defense {
    background-color: #FAE078;
}

#special-attack {
    background-color: #9DB7F5;
}

#special-defense {
    background-color: #A7DB8D;
}

#speed {
    background-color: #FA92B2;
}

/* ----- Pokemon Moves Section ----- */
#moves-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
}

#move-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    list-style: none;
    background-color: white;
    border: 1px solid rgb(0,0,0);
    border-radius: 10px;
    overflow-y: auto;
}

#move-list li {
    display: block; 
    text-decoration: none;
    font-size: 18px; 
    width: 100%;
    color: black; 
    background-color: #f6f6f6; 
    border: 1px solid #ddd; 
    margin-top: -1px; 
    padding: 12px; 
    text-transform: capitalize;
}

.move-type {
    padding: 6px;
}

#move-list::-webkit-scrollbar {
    width: 16px;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
}

#move-list::-webkit-scrollbar-track {
    border-radius: 0px 10px 10px 0px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#move-list::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
}

/* ----- Evolution Chain Section ----- */
#chain-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
}

#evolution-chain {
    display: flex;
    overflow-x: auto;
    text-transform: capitalize;
}

.pokemon-container-evolution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}

.pokemon-container-evolution div {
    display: none;
}

.pokemon-container-evolution .pokemon-name {
    font-size: 16px;
}

#evolution-chain::-webkit-scrollbar {
    width: 12px;
    background-color: white;
    border-radius: 10px;
}

#evolution-chain::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#evolution-chain::-webkit-scrollbar-thumb {
    background-color: rgb(139, 236, 207);
    border-radius: 10px;
}

.evolution-trigger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

#teambuilder-view {
    width: 100%;
    background-color: #222222;
}

#team-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.team-slot {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 240px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;
    border-radius: 22px;
    margin: 8px;
}

.team-slot li {
    margin: 0px;
    box-shadow: none;
}

#build-container {
    height: 90%;
    width: 85%;
}

#build-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65%;
    width: 100%;
}

#help-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 233.75px;
    height: 190px;
    color: rgb(25, 111, 190);
}

#build-button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5px;
}

.build-button {
    font-size: 18px;
    padding: 8px 0px 8px 0px;
    border: 1px solid #000000;
    text-align: center;
    width: 108px;
    cursor: pointer;
}
  
.build-button:hover {
    background-color: rgb(143, 241, 164);
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    outline: none;
    height: 14px;
    background-color: white;
    border-radius: 20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: rgb(39, 39, 39); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 20px;
}
  
.slider::-moz-range-thumb {
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: rgb(39, 39, 39); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* ----- Music Section ----- */
#music-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    align-items: center;
    color: white;
    background-color: rgb(39, 39, 39);
    border-radius: 20px;
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    bottom: 2%;
    right: 2%;
}

#music-slider {
    display: none;
}

#music-container:hover #music-slider {
    display: block;
}

#song-title-container {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 6px;
    background-color: #3786c7;
    box-shadow: 0 0 10px #295e8a inset;
    border-radius: 12px;
}

#song-title-container:hover span {
    display: inline-block;
    animation: song-title 10s linear infinite;
}
  
@keyframes song-title {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

#music-controls {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.music-button {
    font-size: 28px;
    height: 28px;
    line-height: 28px;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    color: rgb(204, 204, 204);
}

.music-button:active {
    color: rgb(163, 163, 163);
}

.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

#pokedex-mobile {
    display: none;
}

/* @media screen and (max-width: 960px) {
    #pokedex {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #pokedex-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 80px);
        width: 100%;
    }

    .error-text {
        white-space: pre-line;
    }

    .error-image {
        width: 20%;
        height: auto;
    }

    #error-button {
        margin-top: 20px;
        width: 200px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        background-color: #41badf;
        border-radius: 20px;
        cursor: pointer;
        color: white;
        font-size: 1.4rem;
    }
} */

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    width: 100%;
}

#contact-form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 60%;
}

#contact-image {
    width: 25%;
    margin: auto;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70%;
    border-radius: 16px;
    background-color: rgb(135, 189, 221);
}

#contact-form input, #contact-form textarea{
    outline: none;
    border: none;
    border-radius: 10px;
    text-indent: 6px;
    width: 50%;
}

.contact-input {
    height: 5vh;
    margin: 4px 0px 4px 0px;
}

#message {
    resize: vertical;
    height: 10vh;
    line-height: 3vh;
    margin-top: 5px;
}


/* ----- Navbar Mobile ----- */
@media screen and (max-width: 960px) {
    .navbar-container {
        height: 80px;
        padding: 0;
    }

    .navbar-menu {
        position: absolute;
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        top: -1000px;
        opacity: 1;
        z-index: -1;
        transition: all 0.5s ease;
    }

    .navbar-menu.active {
        background: #ffffff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar-logo {
        font-size: 1.2rem;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(255, 255, 255);
    }

    .navbar-item {
        width: 100%;
    }
      
    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        color: black;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
      }
      
    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }
      
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
      }
      
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
      
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #search-container {
        display: none;
    }

    #intro-container, #about-container {
        background-attachment: scroll;
    }
}