* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

/* ----- Navbar Section ----- */
.navbar {
  background: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  padding: 0 50px;
}

#navbar__logo {
  background-image: -webkit-linear-gradient(to top, #4ca1af, #c4e0e5);
  background-image: linear-gradient(to top, #4ca1af, #c4e0e5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #4ca1af;
  transition: all 0.3s ease;
}

/* ----- Hero Section ----- */
#hero {
  width: 100vw;
  height: 100vh;
  background-image: url(images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

/* .wallpaper {
  width: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
} */


@media screen and (max-width: 960px) {
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0;
}

.navbar__menu {
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  width: 100%;
  position: absolute;
  top: -1000px;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: -1;
}

.navbar__menu.active {
  background: #131313;
  top: 100%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 99;
  height: 60vh;
  font-size: 1.6rem;
}

#navbar__logo {
  font-size: 1.2rem;
  padding-left: 25px;
}

.navbar__toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #fff;
}

.navbar__item {
  width: 100%;
}

.navbar__links {
  text-align: center;
  padding: 2rem;
  width: 100%;
  display: table;
}

#mobile-menu {
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translate(5%, 20%);
}

.navbar__toggle .bar {
  display: block;
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  }
}

/* .intro__section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  padding: 20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.about2 {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
} */

/* ----- Region Section ----- */
.region__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 50%;
  transform: translateY(-45%);
}

.region__name {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	color: #fff;
	text-shadow: 
		0 0 2px rgba(255,255,255,0.8), 
		2px 2px 2px rgba(0,0,0,0.2);
	font-size: 5rem;
	white-space: nowrap;
}

.image-region {
  width: 10%;
}

.region__container {
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(0, 238, 255);
  cursor: pointer;
  border: 3px solid #000000;
  margin-bottom: 10px;
  border-radius: 50px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.region__container:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

#kanto:hover {
  background-color: rgb(255, 206, 115);
}

#johto:hover {
  background-color: rgb(143, 178, 253);
}

#hoenn:hover {
  background-color: rgb(128, 255, 155);
}

#sinnoh:hover {
  background-color: rgb(146, 248, 255);
}

#unova:hover {
  background-color: rgb(184, 158, 255);
}

#kalos:hover {
  background-color: rgb(144, 255, 209);
}

#alola:hover {
  background-color: rgb(255, 187, 155);
}

/* ----- Pokedex / Move List Section ----- */
#pokedex__page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

#pokedex__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9DB7F5;
  width: 20%;
  height: 85%;
  border-radius: 16px;
}

#pokemon__search {
  width: 90%;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid rgb(0, 0, 0); /* Add a grey border */
  margin: 0px 0px 12px 0px;
}

#pokemon__list, #move__list {
  background-color: white;
  border: 1px solid rgb(0,0,0);
  list-style: none;
  overflow-y: scroll;
  align-content: center;
  align-items: center;
  border-radius: 10px;
}

#pokemon__list {
  height: 85%;
  width: 90%;
}

#move__list {
  height: 230px;
  width: 340px;
}

#pokemon__list::-webkit-scrollbar, #move__list::-webkit-scrollbar {
  width: 1em;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
 
#pokemon__list::-webkit-scrollbar-track, #move__list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
 
#pokemon__list::-webkit-scrollbar-thumb, #move__list::-webkit-scrollbar-thumb {
  background-color: rgb(59, 59, 59);
  border-radius: 10px;
}

#pokemon__list li, #move__list li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

/* ----- Pokemon Info Section ----- */
.pokemon__container {
  text-align: center;
  list-style: none;
  width: 100%;
}

#pokemon__types {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.pokemon__type {
  padding: 6px 12px;
  margin: 0px 4px 0px 4px;
  border-radius: 6px;
}

.pokemon__image {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

/* ----- Utility Section ----- */
#utility__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 40%;
  position: relative;
}

#teambuilder__view, #inspect__view {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

#pokemon__row {
  display: flex;
}


#pokemon0, #pokemon1, #pokemon2, #pokemon3, #pokemon4, #pokemon5, #pokemon6 {
  border: 1px solid #000000;
  background-color: white;
  display: flex;
  width: 10vw;
  height: 24vh;
  flex-direction: column-reverse;
  align-content: center;
  align-items: center;
  border-radius: 12px;
  margin: 0px 0px 10px 10px;
}

#pokemon1, #pokemon2 {
  margin-top: 7.5px;
}

#clear_slot0, #clear_slot1, #clear_slot2, #clear_slot3, #clear_slot4, #clear_slot5, #clear_slot6 {
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: black;
  width: 96px;
  height: 24px;
  border-radius: 10px;
  margin: 5px 0px 10px 0px;
}

#clear_slot0:hover, #clear_slot1:hover, #clear_slot2:hover, #clear_slot3:hover, #clear_slot4:hover, #clear_slot5:hover, #clear_slot6:hover {
  background-color: rgb(144, 160, 255);
  cursor: pointer;
}

#utility__buttons {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.extra__button {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 114px;
  height: 64px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 0px 0px 15px 0px;
}

.extra__button:hover {
  cursor: pointer;
}

#inspect__button {
  background-color: rgb(152, 226, 255);
}

#teambuilder__button {
  background-color: tomato;
}

#new__region {
  background-color: rgb(126, 139, 255);
}

/* ----- Teambuilder Section ----- */
#teambuilder__view {
  display: flex;
  background-color: tomato;
}

#team__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

#generate {
  font-size: 18px;
  padding: 12px 20px 12px 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #000000;
}

#generate:hover {
  background-color: rgb(154, 208, 253);
  cursor: pointer;
}

/* ----- Inspect Section ----- */
#inspect__view {
  display: flex;
  background-color: rgb(152, 226, 255);
}

#pokemon__description {
  width: 95%;
  height: 172px;
  margin-top: 5px;
}

#stats__and__description {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#stat__list-default, #stat__list-active {
  color: rgb(0, 0, 0);
  width: 95%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#stat__list-default {
  display: flex;
}

.stat__bar-default, .stat__bar-active {
  max-width: 100%;
  min-width: 5%;
  width: 100%;
  height: 32px;
  margin: 5px 5px 5px 0px;
  border-radius: 20px;
  line-height: 32px;
  text-indent: 8px;
}

.stat__bar-active {
  text-align: right;
  direction: rtl;
}

#stat0-active, #stat0-default {
  background-color: #FF5959;
}

#stat1-active, #stat1-default {
  background-color: #F5AC78;
}

#stat2-active, #stat2-default {
  background-color: #FAE078;
}

#stat3-active, #stat3-default {
  background-color: #9DB7F5;
}

#stat4-active, #stat4-default {
  background-color: #A7DB8D;
}

#stat5-active, #stat5-default {
  background-color: #FA92B2;
}

#moves__and__extra {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

#evolution__chain {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: white;
  overflow-x: scroll;
  width: 95%;
  height: 25%;
}

.evolution__trigger {
  display: flex;
  align-items: center;
}

.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* ----- Music Section ----- */
.music__container {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.song__title__container {
  display: flex;
  flex-direction: row;
}

.song__title {
  white-space: nowrap;
  margin: 0px 5px 0px 5px;
}

.music__controls {
  display: flex;
  flex-direction: row;
}

.music__button {
  font-size: 32px;
  margin: 0px 5px 0px 5px;
}

.music__button:hover {
  cursor: pointer;
  color: white;
}




@media screen and (max-width: 960px) {
  .region__name {
    font-size: 2rem;
  }

  body {
    overflow: auto;
  }

  .pokemon__name, .pokemon__number {
    font-size: 12px;
  }

  #pokedex__page {
    flex-direction: column;
    width: 95%;
    height: 100%;
  }

  #pokemon0, #pokemon1, #pokemon2, #pokemon3, #pokemon4, #pokemon5, #pokemon6 {
    min-width: 100px;
    width: 27vw;
    height: 21vh;
    margin: 0px 0px 5px 5px;
  }

  #pokemon0, #pokemon1, #pokemon3, #pokemon5 {
    margin-top: 5px;
  }
  
  #pokedex__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9DB7F5;
    width: 90%;
    height: 60%;
    border-radius: 16px;
    margin: 5px 0px 0px 0px;
  }

  .pokemon__image {
    width: 64px;
    height: 64px;
  }
  
  #pokemon__search {
    width: 90%;
    margin-bottom: 5px;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid rgb(0, 0, 0); /* Add a grey border */
  }
  
  #pokemon__list {
    width: 90%;
    height: 22vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(0,0,0);
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    align-content: center;
    align-items: center;
    border-radius: 10px;
  }

  #teambuilder__view {
    flex-direction: column;
  }

  #team {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .pokemon__type {
    font-size: 12px;    
    padding: 3px 3px;

  }

  #team__info {
    width: 100%;
    height: 50%;
  }

  #pokemon__row {
    flex-direction: column;
  }


  #utility__section {
    width: 90%;
  }
}